<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${furniture.getName()}"></title>
    <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
<div th:replace="~{furnitures/header :: header}"></div>
<span th:text="${furniture.getName()+ ' made with ' + furniture.getMaterial()}"></span>
<span th:text="${furniture.getStyle()}"></span>
<span th:text="${furniture.getPrice() + ' $'}"></span>
<span th:text="${furniture.getQuantity()} + ' in stock'"></span>
<a class="waves-effect waves-light btn"
   th:href="@{/furniture/{id}/edit(id=${furniture.getId()})}">Edit</a>
<form th:method="DELETE" th:action="@{/furniture/{id}(id=${furniture.getId()})}"
      style="display: inline;">
    <button class="waves-effect waves-light btn red" type="submit" name="action">Delete</button>
</form>
</body>
</html>